[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
chromadb = "*"
pymupdf = "*"
tiktoken = "*"
pydantic-settings = "*"
python-dotenv = "*"
streamlit = "*"

[dev-packages]
black = "*"
ruff = "*"
pytest = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
